
.navbar{
    background-color: rgb(50, 19, 160);
}
.footer{
    background-color: rgb(77, 237, 237);
}
.bg{
    background-color: rgb(50, 19, 160);
}
.en{
    background-color: rgb(50, 19, 160);
}
.first{
    margin-left: 5px;
    
}
.quote{
    background-color: rgb(44, 213, 213);
    padding-bottom: 5px;
}