
.navbar{
    background-color: rgb(17, 0, 54);
}
.footer{
    background-color: rgb(77, 237, 237);
}
.bg{
    background-color: rgb(17, 0, 54);
}
.en{
    background-color: rgb(17, 0, 54);
}
.first{
    margin-left: 5px;
    
}
.quote{
    background-color: rgb(17, 0, 54);
    padding-bottom: 5px;
}