
.side{
  overflow-y:scroll;
  background-color: rgb(253, 108, 137);
}
.main
{
  background-color: white;
  height: 500px;
}
.content{
  height: 500px;
}
.header{
  background-color:  red;
  height: 40px;
}
.footer{
    background-color: aqua;
    height: 30px;
}
.right{
  background-color: rgb(253, 108, 137);
}
.navbar{
  background-color: rgb(213, 224, 11);
  
}